<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppDB" value="Data Source=localhost;Initial Catalog=StrategyApp;UID=sa;PWD=S3rv3r;" />

    <add key="SmtpUserName" value="info@strategysketchpad.com" />
    <add key="SmtpPassword" value="Gravity@123" />
    <add key="SmtpServer" value="smtp.zoho.com" />
    <add key="SmtpPort" value="587" />
<add key="LogFile" value="D:\Websites\Martin\Strategy\app\strategy.log" />
    <!-- Email Subjects -->
    <add key="Registration" value="Welcome to Strategy Sketchpad!" />
    <add key="FunctionHeadInvite" value="You're invited to Strategy Sketchpad!" />
    <add key="VendorInvite" value="You've been invited to Strategy Sketchpad!" />
    <add key="VendorReInvite" value="Strategy Sketchpad – New organisation has added you as innovation partner" />
    <add key="InnovationRequest" value="Strategy Sketchpad – New innovation request" />
    <add key="InnovationPost" value="Strategy Sketchpad – New innovation posted" />
    <add key="NewKPI" value="Strategy Sketchpad – New department has added you as innovation partner" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="1000"/>
    
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>